<template>
  <Layout>
   <div class="navigation"> 
    <a href="/">
     <i class='fas fa-arrow-circle-left'></i>
     </a>
        <div class="date-script">{{$page.article.yeardate}}</div>
    </div>
    <div class="content">   
        <!--gambar-gambar--> 
        <div class="slideshow">
        <div class="imageall">
        <img class="image1" :src="$page.article.image"/> 
        <img class="image1" :src="$page.article.image1"/>
        <img class="image1" :src="$page.article.image2"/>
        <img class="image1" :src="$page.article.image3"/>
        <img class="image1" :src="$page.article.image4"/> 
          </div>
            <div class="slideshownav">
                <!--script navigasi slideshow--> 
                <button class="prev" onclick="myShow.previous()"></button>
                <button class="next" onclick="myShow.next()"></button>
                <div class="indicator">
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
    </div>
            </div>
        </div>
        <div class="text">
            <h1 class="projectname">{{$page.article.title}}</h1>
            <h2 class="projectdesc">{{$page.article.tagline}}</h2>
            <h2 class="projectcat"> / {{$page.article.category}}</h2>
            <h3 class="name">{{$page.article.nameangkatan}}</h3>
            <h3 class="contacts">contact:
                <a class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a class="instagram"><i class="fab fa-instagram"></i></a>
                <a class="SMS"><i class="far fa-envelope"></i></a>
            </h3>
            <div v-html="$page.article.content"></div>
        </div>
            <div class="lowernavbar">
            <!-- script next/project -->
                <a class="prevproj" href="$page.allarticles.pageariaPrevLabel">PREV</a> 
                <a href="/"><div class="INDDESfooterlogo">  
                <img src="/uploads/favicon.png">
               </div></a> 
                <a class="nextproj" href="">NEXT</a> 
            </div>
            
    </div>
    <div class="empty"></div>
    <div class="gradient"></div>
  </Layout>
</template>
<page-query>
query ($path: String!) {
  article: articles (path: $path) {
    title
    category
    tagline
    yeardate
    nameangkatan
    content
    image
    image1
    image2
    image3
    image4
  }
}
</page-query>

<!-- <a class="nextproj" href="">NEXT</a> 
       <img class="image1" :src="$page.article.image1"/>
        <img class="image1" :src="$page.article.image2"/>
        <img class="image1" :src="$page.article.image3"/>
        <img class="image1" :src="$page.article.image4"/> 
  <g-image class="image1" :src="$page.article.image1" /> 
          <g-image class="image1" :src="$page.article.image2" /> 
          <g-image class="image1" :src="$page.article.image3" />  
          <g-image class="image1" :src="$page.article.image4" /> 

          <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("image1");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script> 
-->

<script>
export default {
    mounted() {
myShow = w3.slideshow(".nature", 0);
}
}
  </script>

<script>
export default {
  components: {},
  metaInfo() {
    return {
      title: this.$page.article.title
    };
  }
};
</script>



<style>
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:10px;width:10px;padding:0;margin-left: 4px};
@font-face {
        font-family: 'Barlow', sans-serif;
        font-family: 'Work Sans', sans-serif;
}
* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body {
    margin: 8%;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.indicator{
 position: absolute;
    top: 750%; left: 50%;
    transform: translate(-50%,0%);
}
.fa-arrow-circle-left {
    z-index: 1;
    position:fixed;
    font-size: 2.5em;
    color: black;
    transition: 0.2s;
}

.fa-chevron-left{
    z-index: 1;
    left: 10%;
    position:fixed;
    font-size: 2.5em;
    color: #7C7C7C;
    transition: 0.2s;
}
.fa-chevron-right{
    z-index: 1;
    right: 10%;
    position:fixed;
    font-size: 2.5em;
    color: #7C7C7C;
    transition: 0.2s;
}
.fa-arrow-left:active {
    text-shadow: 4px 4px  rgb(190, 190, 190);
    transition: 0.2s;

}

.date-script {
    align-self: flex-end;
    font-family: 'Work Sans';
    font-size: 2em;
}

.slideshow {
    position: relative;
    width: 100%;
}

.image1 {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10pt;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.slideshownav {
    font-weight: 900;
    width: 90%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin: 0px;
    position: relative;
    transform: translate(5%, -1000%);
}

.next, .prev {
    background-color: #ffffff00;
    box-sizing: border-box;
    margin: 0em;
    font-family: 'Barlow';
    display: flex;
    justify-items: center;
    align-items: center;
    border-width: 1.5px;
    border-style: none;
    border-color: rgba(68, 68, 68, 0);
    color: rgb(68, 68, 68);
    font-weight: 500;
    font-size: 1.5rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    transition: 0.5s;
}

.next:active, .prev:active {
    color: white;
    transition: 0.1 s;
}

.projectname {
    font-family: 'Work Sans';
    font-weight: 800;
    margin-block-start: -0.5em;
    margin-block-end: 0.2em;
}

h2 {
    font-family: Barlow;
    font-size: 0.9em;
    font-weight: 650;
}

.projectdesc {
    display: inline;
    margin-block-start: -0.5em;
    margin-block-end: 0.1em;
}

.projectcat {
    display: inline;
}

h3 {
    font-family: Barlow;
    font-size: 1em;
    font-weight: 400;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.whatsapp, .instagram, .SMS{
    font-size: 1.5em;
    margin: 2px;
}

.whatsapp:active, .instagram:active, .SMS:active {
    background-color: rgba(61, 61, 61, 0.233);
    padding: 5px;
    color: white;
    transition: 0.2s;
    transition-delay: 0.05s;
    border-radius: 40%;
}

p {
    text-align: left;
    font-family: Barlow;
    font-size: 1em;
    font-weight: 400;
}

.lowernavbar {
    box-shadow: 0px 5px 40px #d1d1d1;
     z-index: 99;
    top: 90%; left: 50%;
    transform: translate(-50%,0); 
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: 	#f4f4f4;
    border-radius: 30px;
    display: flex;
     align-items: center;
    justify-content: space-between;
}
.empty {
     
    position: relative;
    height: 65px;
    bottom: 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
 
    display: flex;
     align-items: center;
    justify-content: space-between;
}

.prevproj, .nextproj {
      display: flex;
  justify-content: center;
  align-items: center; 
    color: black;
    margin: 20px;
    font-family: Barlow;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.prevproj:active, .nextproj:active {
    vertical-align: baseline;
    position: relative;
    border-radius: 20px;
    background-color: rgb(175, 175, 175);
    color: white;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.2s;
    transition-delay: 0.1s;
    box-sizing: border-box;
}

.INDDESfooterlogo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.gradient{
    width: 600px;
    height: 120px;
    z-index: 98;
    position: fixed;
    bottom: 0px;
	background-image: url("/uploads/bottom-fade.png");
}
</style>