<template>
  <Layout>
    <div class="anotherbody">
    <div class="background"></div>
     <div class="header">
        <div class="back">
            <a href="/">
            <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <h1 class="furnitureheader">FURNITURE</h1>
        <h2 class="furnituredesc">Products kept in a living space designed to make it suitable or comfortable for living or working in</h2>
        <ul>
            <li><button>#Academic Project</button></li>
            <li><button>#Award Winning</button></li>
            <li><button>#Personal Project</button></li>
        </ul>
    </div>
    <div class="contentemplate">
       <div class="placeholder" v-for="article in $page.articles.edges" :key="article.id">
         <g-link :to="article.node.path">
         <div class="article__img"
             :style="{ 'background-image': 'url(' + article.node.image + ')' }"></div>
         </g-link>   
           </div>
      </div>
    
    </div>
    <div class="gradient"></div>
  </Layout>
</template>
<page-query>
query {
  articles: allArticles {
    edges {
      node {
        title
        tagline
        image
        path
      }
    }
  }
}
</page-query>
<!-- BACKUP CODE
<div class="article__body">
          <g-link :to="article.node.path" class="article__link"></g-link>
          
            <div class="article__img"
             :style="{ 'background-image': 'url(' + article.node.image + ')' }"></div>
        <div class="article__body">
          <g-link :to="article.node.path" class="article__link"></g-link>
        </div>

           <g-link :to="article.node.path">
           <img :src="$article.node.image">
           </g-link>
          
-->
<script>
export default {
  metaInfo: {
    title: "INDDES ITB"
  }
};
</script>

<style>
.article{
}
.gradient{
    width: 600px;
    height: 150px;
    z-index: 98;
    position: fixed;
    bottom: 0px;
	background-image: url("/uploads/bottom-fade.png");
}
.article__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
}
.article__img {
  width: 115px;
  height: 150px; 
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 4px;
  object-fit: cover;
}

.article__img:hover {
  opacity:0.8;
  width: 115px;
  height: 150px; 
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 4px;
  object-fit: cover;
}
.anotherbody {
    margin: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder img{
    max-width: 40vw;
    max-height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}

.background {
  
    position: absolute;
    top: -30px;
    width: 120%;
    height: 250px;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0),rgba(245, 246, 252, 0),rgba(245, 246, 252, 0),rgba(245, 246, 252, 0), rgb(255, 255, 255)),
    url("/uploads/header.png");
    z-index: -1; 
}

.fa-arrow-left {
    font-weight: lighter;
    font-size: 2.5em;
    color: white;
}

.fa-arrow-left:visited{
    color: white;
}

.fa-arrow-left:active {
    color: black;
}

.header {
    max-width: 90%;
}

.contentemplate {
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.furnitureheader {
    transition: 0.5s;
    font-family: "Work Sans";
    font-style: Bold;
    margin-block-start: 0.4em;
    margin-block-end: 0.2em;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.336) 2px 2px 0px;
}

.furnituredesc {
    transition: 0.5s;
    font-family: "Barlow";
    font-weight: lighter;
    font-size: 1em;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.336) 2px 2px 0px;
}

ul{
    padding-top: 0px;
    padding-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    gap: 3%
}

button {
    transition: 0.5s;
    transition-delay: 0.1s;
    font-size: 0.56rem;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(118, 118, 118)
}

button:active {
    transition: 0.3s;
    color: white;
    background-color: gray;
    outline: none;
}

button:focus {
    transition: 0.2s;
    color: white;
    background-color: gray;
    outline: none;
}


</style>
body {
    margin: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    top: -30px;
    width: 120%;
    height: 250px;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0),rgba(245, 246, 252, 0),rgba(245, 246, 252, 0),rgba(245, 246, 252, 0), rgb(255, 255, 255)),
    url("images/header.png");
    z-index: -1; 
}

.fa-arrow-left {
    font-weight: lighter;
    font-size: 2.5em;
    color: white;
}

.fa-arrow-left:visited{
    color: white;
}

.fa-arrow-left:active {
    color: black;
}

.header {
    max-width: 90%;
}


.furnitureheader {
    transition: 0.5s;
    font-family: "Work Sans";
    font-style: Bold;
    margin-block-start: 0.4em;
    margin-block-end: 0.2em;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.336) 2px 2px 0px;
}

.furnituredesc {
    transition: 0.5s;
    font-family: "Barlow";
    font-weight: lighter;
    font-size: 1em;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.336) 2px 2px 0px;
}

ul{
    padding-top: 0px;
    padding-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    gap: 3%
}

button {
    transition: 0.5s;
    transition-delay: 0.1s;
    font-size: 0.56rem;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(118, 118, 118)
}

button:active {
    transition: 0.3s;
    color: white;
    background-color: gray;
    outline: none;
}

button:focus {
    transition: 0.2s;
    color: white;
    background-color: gray;
    outline: none;
}

.contentemplate {
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.placeholder img {
    max-width: 40vw;
    max-height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
</style>