<template>
 <Layout :sidebar="true">
    <div class="content">  
    <span v-for="edge in $page.photos.edges" :key="edge.node.id">
      <a :href="'https://instagram.com/p/' + edge.node.shortcode" target="_blank" onclick="this.style.opacity:0.8" rel="noopener">
        <g-image :src="edge.node.display_url" :alt="'Instagram Photo: ' + edge.node.edge_media_to_caption.edges[0].node.text" class="photo" />
      </a>
    </span>
</div>

 <div class="medianavbar">
            <!-- script next/project -->
            
                <a href="http://localhost:8080/medium">
              <i class="fab fa-medium"></i>
              </a> 
              <a href="http://localhost:8080/instagram-photos">
              <i class="fab fa-instagram"></i>
              </a> 
                <a href="http://localhost:8080/spotify">
              <i class="fab fa-spotify"></i>
              </a>  
            </div>


<div onclick="location.href='https://www.instagram.com/inddesitb/'; this.style.textDecoration='underline'" class="seemore">
  <i class="seemoretext">see more...</i>
  </div>
 <div class="gradient"></div>
  </Layout>
</template>

<page-query>
query {
  photos: allInstagramPhoto {
    edges {
      node {
        id
        shortcode
        display_url
        edge_media_to_caption {
          edges {
            node {
              text
            }
          }
        }
      }
    }
  }
}
</page-query>

<style>

@media (max-aspect-ratio: 1/1) {
@font-face {
        font-family: 'Barlow', sans-serif;
        font-family: 'Work Sans', sans-serif;
}
* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 7%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile{
  width: 100%;
  position: fixed;
}
.fa-medium, .fa-spotify, .fa-instagram{
  color: black;
  font-size: 2em;
  padding: 1%;
}
.header {
    background-image: url("/uploads/lines top.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto auto auto;
  
    position: sticky;
    z-index: 100; 
    top: 0px;
    background-color: white;
    padding-top: 8%;
    padding-right: 8%;
  
    background-size: 100% 100%;
}

.medianavbar {
    box-shadow: 0px 5px 40px #d1d1d1;
     z-index: 101;
    top: 89%; left: 50%;
    transform: translate(-50%,0); 
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: 	#f4f4f4;
    border-radius: 30px;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
}
.lowernavbar {
  box-shadow: 0px 5px 40px #bababa;
     z-index: 101;
    top: 92%; left: 50%;
    transform: translate(-50%,0); 
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: 	#f4f4f4;
    border-radius: 30px;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding: 2%;
    padding-right: 4%;
    padding-left: 4%;
}
.gradienttop{
 background-image: linear-gradient(-180deg, rgba(255,255,255,1), rgb(255, 255, 255,0));
 width: 100%;
  height: 20px;
  position: fixed;
}

.gradient{
  width: 600px;
  height: 150px;
  z-index: 98;
  position: fixed;
  bottom: 0px;
	background-image: url("/uploads/bottom-fade.png");
  background-repeat: no-repeat;
}


.gradienttop2{
  width: 600px;
  height: 150px;
  z-index: 98;
  position: fixed;
 transform: rotate(180deg);
	background-image: url("/uploads/bottom-fade.png");
  background-repeat: no-repeat;
}
.seemore{
  z-index: 99;
  margin-top:5% ;
  margin-bottom: 25%;
  align-items: center;
   text-align: center;
}
.seemoretext{
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 25%;
    margin-top: 0;
}
.seemoretext:active{
  text-decoration: underline;
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 0;
}
.text{
  font-weight: bold;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-top: 0;
}
.square {
width: 120px;
    height:90px;
     display: flex;
    flex-wrap: wrap;
    align-items: right;
     position:fixed;
}
.inddes{
  margin-top: 0%;
   display: flex;
    flex-wrap: wrap;
     flex-direction: column;
     align-items:flex-end;
}
.content{
  margin-top: 5%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}
.photo {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.photo:hover {
   opacity:0.8;
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.fa-arrow-left {
  margin-left: 2%;
  margin-top: 2%;
    font-weight: lighter;
    font-size: 2.5em;
    color: black;
}
.fixed {
   z-index: 1;
    position:fixed;
}
.hide{
  visibility:hidden
}


.furnitureheader {
    font-weight: lighter;
    font-size: 2.3em;
    color: black;
    display:inline-block;
    margin: 8px;
     font-family: 'Barlow';
}



.back {
    align-items: left;   
}

.about{
    background-color: #F7DD00;
    border-radius: 20px;
}

.anotherbody {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.INDDESlogo {
    grid-row: 1;
    justify-self: left;
}

.INDDESheader {
  margin-top: 5%;
    grid-row: 2;
    font-family: "Work Sans";
    font-size: 2em;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.webnavbar {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 6%;
    grid-row: 3;
    display: flex;
    justify-content: center;
}


ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}

li {
    padding: 0em 0.5em;
    font-family: Barlow;
    font-weight: lighter;
    font-size: 90%;
}

#navbar a{
    text-decoration: none;
    color: black;
}

.circle1, .circle2, .circle3, .circle4 {
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    background-color: rgb(151, 151, 151);
}

.circle2 {
    background-color: #F7DD00;
}
}
@font-face {
        font-family: 'Barlow', sans-serif;
        font-family: 'Work Sans', sans-serif;
}
* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 7%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
  margin-top: 5%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}
.photo {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
    
}
.seemore{
  z-index: 99;
  margin-top:5% ;
  margin-bottom: 25%;
  align-items: center;
   text-align: center;
}
.seemoretext{
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 25%;
    margin-top: 0;
}
.seemoretext:active{
  text-decoration: underline;
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 0;
}
.photo:hover {
   opacity:0.8;
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.text{
  font-weight: bold;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-top: 0;
}
.fixed {
   z-index: 1;
    position:fixed;
}
.hide{
  visibility:hidden
}

</style>
