<template>
  <Layout :sidebar="true">
<div id="retainable-rss-embed" 
data-rss="https://medium.com/feed/@mr.arifinsyah"
data-maxcols="4" 
data-layout="grid" 
data-poststyle="external" 
data-readmore="Read the rest" 
data-buttonclass="btn btn-primary" 
data-offset="-100"></div>

 <div class="medianavbar">
            <!-- script next/project -->
            
                <a href="http://localhost:8080/medium">
              <i class="fab fa-medium"></i>
              </a> 
              <a href="http://localhost:8080/instagram-photos">
              <i class="fab fa-instagram"></i>
              </a> 
                <a href="http://localhost:8080/spotify">
              <i class="fab fa-spotify"></i>
              </a>  
            </div>


 <div class="gradient"></div>
  </Layout>
</template>

<!--
 <div class="lowernavbar">
        <a href="INDDESprotohome.html"><div class="circle1"></div></a>
        <a href="INDDESprotoabout.html"><div class="circle2"></div></a>
        <a href="INDDESArticles.html"><div class="circle3"></div></a>
        <a href="INDDEScontact.html"><div class="circle4"></div></a>
    </div>
-->

<script>
export default {
  mounted(){
    var container = document.getElementById("retainable-rss-embed");
if (container) {
  var css = document.createElement('link');
  css.href = "https://www.retainable.io/assets/retainable/rss-embed/retainable.css";
    css.rel = "stylesheet"
    document.getElementsByTagName('head')[0].appendChild(css);
    var script = document.createElement('script');
    script.src = "https://www.retainable.io/assets/retainable/rss-embed/retainable.js";
    document.getElementsByTagName('body')[0].appendChild(script);
}
  }
}
</script>

<style>
.excerpt{
display: none;
}
.author{
display: none ;
}
.read-more{
display: none ;
}

@media (max-aspect-ratio: 1/1) {
@font-face {
        font-family: 'Barlow', sans-serif;
        font-family: 'Work Sans', sans-serif;
}
* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.row{
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-top: 65% !important;
}
.post-title{
  font-size: 0.7em;
   color: black;
}
.post-date{
  background-color: rgb(228, 228, 228) !important;
  font-size: 1.2em;
  left: 5px !important;
  top: 2px !important;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.post-image{
    grid-gap: 50px;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Work Sans';
    max-height: 120px;
    font-size: 1.2em;
    font-weight: 650;
    padding-left: 10%;
    padding-top: 30%;
    padding-bottom: 15%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color: white;
    text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.267);
}

body{
    margin: 7%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-medium, .fa-spotify, .fa-instagram{
  color: black;
  font-size: 2em;
  padding: 1%;
}
.medianavbar {
    box-shadow: 0px 5px 40px #d1d1d1;
     z-index: 101;
    top: 89%; left: 50%;
    transform: translate(-50%,0); 
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: 	#f4f4f4;
    border-radius: 30px;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
}
.mobile{
  width: 100%;
  z-index: 100;
  position: fixed;
}
.header {
    background-image: url("/uploads/lines top.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto auto auto;
  
    position: sticky;
    z-index: 100; 
    top: 0px;
    background-color: white;
    padding-top: 8%;
    padding-right: 8%;
  
    background-size: 100% 100%;
}

.gradienttop{
 background-image: linear-gradient(-180deg, rgba(255,255,255,1), rgb(255, 255, 255,0));
 width: 100%;
  height: 20px;
  position: fixed;
}
.lowernavbar {
  box-shadow: 0px 5px 40px #bababa;
     z-index: 101;
    top: 92%; left: 50%;
    transform: translate(-50%,0); 
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: 	#f4f4f4;
    border-radius: 30px;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding: 2%;
    padding-right: 4%;
    padding-left: 4%;
}
.gradient{
  width: 600px;
  height: 150px;
  z-index: 98;
  position: fixed;
  bottom: 0px;
	background-image: url("/uploads/bottom-fade.png");
  background-repeat: no-repeat;
}


.gradienttop2{
  width: 600px;
  height: 150px;
  z-index: 98;
  position: fixed;
 transform: rotate(180deg);
	background-image: url("/uploads/bottom-fade.png");
  background-repeat: no-repeat;
}
.seemore{
  z-index: 99;
  margin-top:5% ;
  margin-bottom: 25%;
  align-items: center;
   text-align: center;
}
.seemoretext{
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 25%;
    margin-top: 0;
}
.seemoretext:active{
  text-decoration: underline;
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 0;
}
.text{
  font-weight: bold;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-top: 0;
}
.square {
width: 120px;
    height:90px;
     display: flex;
    flex-wrap: wrap;
    align-items: right;
     position:fixed;
}
.inddes{
  margin-top: 0%;
   display: flex;
    flex-wrap: wrap;
     flex-direction: column;
     align-items:flex-end;
}
.content{
  margin-top: 5%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}
.photo {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.photo:hover {
   opacity:0.8;
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.fa-arrow-left {
  margin-left: 2%;
  margin-top: 2%;
    font-weight: lighter;
    font-size: 2.5em;
    color: black;
}
.fixed {
   z-index: 1;
    position:fixed;
}
.hide{
  visibility:hidden
}


.furnitureheader {
    font-weight: lighter;
    font-size: 2.3em;
    color: black;
    display:inline-block;
    margin: 8px;
     font-family: 'Barlow';
}



.back {
    align-items: left;   
}

.about{
    background-color: #F7DD00;
    border-radius: 20px;
}

.anotherbody {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.INDDESlogo {
    grid-row: 1;
    justify-self: left;
}

.INDDESheader {
  margin-top: 5%;
    grid-row: 2;
    font-family: "Work Sans";
    font-size: 2em;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.webnavbar {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 6%;
    grid-row: 3;
    display: flex;
    justify-content: center;
}


ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}

li {
    padding: 0em 0.5em;
    font-family: Barlow;
    font-weight: lighter;
    font-size: 90%;
}

#navbar a{
    text-decoration: none;
    color: black;
}

.circle1, .circle2, .circle3, .circle4 {
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    background-color: rgb(151, 151, 151);
}

.circle2 {
    background-color: #F7DD00;
}
}
@font-face {
        font-family: 'Barlow', sans-serif;
        font-family: 'Work Sans', sans-serif;
}
* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 7%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
  margin-top: 5%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}
.photo {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
    
}
.seemore{
  z-index: 99;
  margin-top:5% ;
  margin-bottom: 25%;
  align-items: center;
   text-align: center;
}
.seemoretext{
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 25%;
    margin-top: 0;
}
.seemoretext:active{
  text-decoration: underline;
  position: absolute;
  z-index: 99;
  font-family: 'Barlow', sans-serif;
  text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 0;
}
.photo:hover {
   opacity:0.8;
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.text{
  font-weight: bold;
    font-size: 2em;
    color: black;
    margin-right: 5%;
    margin-top: 0;
}
.fixed {
   z-index: 1;
    position:fixed;
}
.hide{
  visibility:hidden
}


</style>
