<template>
<div>
  <div v-if="sidebar">
    <div class="mobile">
     <div class="header" >
        <img class="INDDESlogo" src="/uploads/Logo.svg">
        <h1 class="INDDESheader">
            INDDES
        </h1>
        <div class="webnavbar">
            <ul id="navbar">
                <li class="projects"><a href="INDDESprotohome.html">
                    Projects
                </a></li>
               <li class=about><a href="INDDESprotoabout.html">
                    About
                </a></li>
                <li class="articles"><a href="INDDESArticles.html">
                    Media
                </a></li>
                <li class="contact"><a href="INDDEScontact.html">
                    Contact
                </a></li>
            </ul>
        </div>
    </div>
     <div class="gradienttop"></div>
     </div>
        </div>
    <slot/>
  </div>
</template>
<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>


<script>
export default { 
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ]
  },
  props: ['sidebar']
}
</script>

<style>

</style>
